name: build-test

on:
  push:
    branches:
    - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

defaults:
  run:
    shell: bash

env:
    BOOST_VERSION: 1.86.0
    BOOST_ROOT: ${{ github.workspace }}/boost

# Ensure only one instance of the workflow is running for a given branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  clear-status:
    runs-on: ubuntu-latest
    steps:
      - name: Clear status
        uses: myrotvorets/set-commit-status-action@v2.0.1
        if: ${{ !env.ACT }}
        with:
          context: build-test-status
          status: "pending"
          token: ${{ secrets.GH_TOKEN }}

  build-test:
    runs-on: ubuntu-latest
    needs: [clear-status]
    steps:
    - name: Checkout
      uses: actions/checkout@v5.0.0
      with:
        submodules: 'recursive'

    - name: Set up Python
      uses: actions/setup-python@v5.6.0
      with:
        python-version: '3.10'
    - uses: lukka/get-cmake@v4.0.1
      with:
        cmakeVersion: "~3.22.1"
        ninjaVersion: "^1.10.1"

    - name: Prepare Venv
      run: |
        make venv
    - name: Cache Boost
      id: cache-boost
      uses: actions/cache@v4.2.4
      with:
        path: boost
        key: ${{ runner.os }}-boost-${{ env.BOOST_VERSION }}
    - name: Prepare Boost
      if: steps.cache-boost.outputs.cache-hit != 'true'
      run: |
        make boost
    - name: Running cmake
      run: |
        cmake -B build -S . -G Ninja
    - name: Running Build
      run: |
        cmake --build build
    - name: Running Tests
      run: |
        ctest --test-dir build

  post-status:
    name: Post Status
    runs-on: ubuntu-latest
    needs: [clear-status, build-test]
    if: always()
    steps:
      - name: Update commit status
        uses: myrotvorets/set-commit-status-action@v2.0.1
        if: ${{ !env.ACT }}
        with:
          context: build-test-status
          status: ${{ job.status }}
          token: ${{ secrets.GH_TOKEN }}
