name: style-checks

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

defaults:
  run:
    shell: bash

# Ensure only one instance of the workflow is running for a given branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  clear-status:
    runs-on: ubuntu-latest
    steps:
      - name: Clear status
        uses: myrotvorets/set-commit-status-action@v2.0.1
        if: ${{ !env.ACT }}
        with:
          context: style-check-status
          status: "pending"
          token: ${{ secrets.GH_TOKEN }}

  clang-format:
    runs-on: ubuntu-latest
    needs: [clear-status]
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.0
      with:
        submodules: 'recursive'

    - name: Set up Python
      uses: actions/setup-python@v5.6.0
      with:
        python-version: '3.10'
    - name: Prepare Venv
      run: |
        make venv
    - name: Running clang-format
      run: |
        make style-check-clang

  post-status:
    name: Post Status
    runs-on: ubuntu-latest
    needs: [clear-status, clang-format]
    if: always()
    steps:
      - name: Update commit status
        uses: myrotvorets/set-commit-status-action@v2.0.1
        if: ${{ !env.ACT }}
        with:
          context: style-check-status
          status: ${{ job.status }}
          token: ${{ secrets.GH_TOKEN }}
